@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .films-items {
        flex-wrap: wrap;
    }

    .films-items_card {
        width: 48%;
    }

    .films-items_card img {
        width: 100%;
    }

    .films-items_card:nth-of-type(n+3) {
        margin-top: 30px;
    }

    .collections-items {
        flex-wrap: wrap;
    }

    .collections-card {
        width: 60%;
        margin: 0 auto;
    }

    .collections-card img {
        width: 100%;
    }

    .collections-card:nth-of-type(n+2) {
        margin-top: 30px;
    }

    .span::before,
    .span::after {
        width: 25px;
        height: 30px;
    }
}

@media (max-width: 960px) {
    .container {
        max-width: 720px;
    }

    .widow {
        padding: 20px 0 40px;
    }

    .widow-intro_text {
        margin: 20px 0 40px;
    }

    .series-item-card:nth-of-type(3) {
        grid-column: 3/5;
    }

    .series-item-card:nth-of-type(4) {
        grid-column: 3/5;
    }

    .series-item-card:nth-of-type(5) {
        grid-column: 1/3;
    }

    .series-item-card:nth-of-type(6) {
        grid-column: 3/5;
    }

    .series-item-card:nth-of-type(1) {
        height: 300px;
    }

    .series-item-card img {
        object-fit: cover;
        border-radius: 6px;
    }

    .series-item_side_text {
        line-height: 20px;
        margin: 10px 0;
    }

    .series-item_side {
        padding-left: 20px;
    }

}

@media (max-width: 720px) {
    .nav-content {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        padding-top: 20px;
    }

    .nav-logo {
        margin-bottom: 20px;
    }

    .nav-list_link::after {
        margin-top: 20px;
    }

    .header-films {
        padding: 5px 0;
    }

    .header-kong_logo {
        font-size: 45px;
    }

    .header-kong_text {
        margin: 17px 0 20px;
    }

    .section-link {
        padding: 10px 35px;
        font-size: 15px;
    }

    .main-films {
        padding: 20px 0 30px;
    }

    .films-items {
        margin-top: 20px;
    }

    .section-logo {
        font-size: 30px;
    }

    .widow-img {
        width: 50%;
    }

    .collections {
        padding: 20px 0;
    }

    .collections-items {
        margin-top: 20px;
    }

    .series {
        padding-bottom: 30px;
    }

    .series-item {
        gap: 20px;
        margin-top: 20px;
    }
}

@media (max-width:540px) {

    .span::before,
    .span::after {
        width: 20px;
        height: 22px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-list {
        margin-bottom: 15px;
    }

    .footer {
        padding: 10px 0;
    }

    .header-bg img {
        min-height: 320px;
    }

    .header-kong_text {
        max-width: 400px;
        line-height: 20px;
        font-size: 15px;
    }

    .header-kong_logo {
        font-size: 40px;
    }

    .series-item_sides {
        padding-left: 0;
    }

    .series-item-card:nth-of-type(n+2) {
        grid-column: 1/5;
    }

    .films-items_card {
        width: 70%;
        margin: 0 auto;
    }

    .films-items_card:nth-of-type(n+2) {
        margin-top: 20px;
    }
}

@media (max-width:500px) {
    .series-item_side-logo {
        line-height: 28px;
        font-size: 30px;
    }

    .series-item-card:nth-of-type(1) {
        height: 350px;
    }

    .collections-card {
        width: 80%;
    }
}

@media (max-width:400px) {
    .series-item_side_text {
        font-size: 13px;
        line-height: 16px;
    }

    .header-kong_logo {
        font-size: 30px;
    }

    .header-kong_text {
        line-height: 16px;
        font-size: 14px;
        margin: 10px 0;
    }

    .section-logo {
        font-size: 25px;
    }

    .header-bg img {
        min-height: 220px;
    }

    .widow-intro_text {
        margin: 10px 0;
        font-size: 18px;
        line-height: 23px;
    }
}

@media (max-width:370px) {
    .films-items_card {
        width: 90%;
    }

    .collections-card {
        width: 90%;
    }

    .collections-content_logo {
        font-size: 18px;
    }

    .series-item_side__logo {
        margin-top: 15px;
        font-size: 27px;
    }
}

@media (max-width:340px) {
    .nav-list_link {
        margin: 0 5px;
    }

    .section-link {
        padding: 10px 30px;
        font-size: 14px;
    }

    .header-kong_items{
        gap: 15px;
    }
    
    .series-item-card:nth-of-type(1){
       height: 320px;
    }
    
    .series-item_side{
       padding: 0 10px;
    }
    
    .series-item_side_text{
       text-align: justify;
    }
}